<div class="row">
	<div class="col">
		<h2 class="page-title" [innerHtml]="title"></h2>

		<div class="alert success" *ngIf="updated">You have updated this item</div>

		<form class="add-form" novalidate #form="ngForm">
			<label>Name</label>
			<input type="text" name="name" required autocomplete="off" #name="ngModel" [(ngModel)]="model.title" />

<!-- 			<label>Number <span>{{ reps.value }}</span></label>
			<input type="range" name="reps" min="1" max="6" #reps="ngModel" [(ngModel)]="model.amount" /> -->

			<button class="btn btn-primary" type="submit" (click)="updateItem(model)" [disabled]="form.invalid">
				Save
			</button>
		</form>
	</div>

	<button class="btn btn-secondary" routerLink="/home">Back</button>
</div>